.container{
    width: 900px;
    margin: auto;
    background-color: white;
    height: 50vh;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

.bill_container{
    position: relative;
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.input_container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    input{
        width: 100%;
        background-color: hsl(189, 41%, 97%);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        color: hsl(183, 100%, 15%);
        font-weight: bold;
        text-align: right;
        font-size: 18px;
        padding-right: 20px;
    }
    img{
        position: absolute;
        top: 40px;
        left: 30px;
    }
    label{
        position: relative;
        left: 5px;
        color: hsl(186, 14%, 43%);
        font-weight: bold;
    }
}

@media screen and (max-width:950px){
    .container{
        width: 100%;
        flex-wrap: wrap;
        height: fit-content;
        margin: auto;
        align-items: center;
        justify-content: center;
        margin-top: 3em;
    }
    .bill_container{
        width: 100%;
        margin-bottom: 2em;
    }
}